<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerKey" value="AAAAsx_3OiY:APA91bFKFI-9ECNtaHochZXhCFq69uhDjOCj1RnqxGfQmR9MlfIzIe544JRqhQO9Tw5ka1iyhIdjcp96uN-usiJfglbtN2GrZHarI1L2HG4mRWQTlSmrZ9zdbKrGPLZQSW33fVH-Kaec"/>
    <add key="SenderId" value="769335441958"/>
    <add key="DeviceId" value="cyg-3VvfQTw:APA91bGgQhk4Q852jGalkegi1h6DQK5N1RlB8k0BbYphbAb4sCMwY3uf-7niyJqEACKj5dTZmCWWO6L8qmWDb2MxC0m7MTb0BwQ7gM3vq2S51PfCFU3NIXdiDHbLxa-wNm4Q8kBKuNB7"/>
    <add key="DeviceId1" value="dJsttNguiOU:APA91bHw-z1xO65EwDGryrXZtYnFRma8bPclUxKHBT8qEBtAYfEHxDianBqI1mkMF78CVGFWUsbr08vxEQmXSDTpeqq_Zvdxc2Oe_zv9maAg3sleFNNaVeWotvZIT0D2C2qgrqvWfiGY"/>
  </appSettings>
</configuration>